@import "../colors";
@import "../screen-sizes";

footer {
  height: 3em;
  line-height: 1em;
  position: relative;
  text-align: center;
  border-width: 1px 0 0 0;
  border-style: solid;
  border-color: transparent;

  &:before {
    content: "";
    position: absolute;
    height: 1px;
    width: calc(100% - 2em);
    top: -1px;
    right: 0;
    margin: 0 1em;
    z-index: -1;
    background: linear-gradient(
      to right,
      $primary-light,
      $primary-dark-transparent 5%,
      $primary-dark-transparent 95%,
      $primary-light
    );
  }

  p {
    font-size: 1em;
    padding: 1em 0;
    margin: 0;
  }

  @media (min-width: $tablet) {
    grid-row: 3 / 4;
    grid-column: 1 / 2;
  }

  @media (min-width: $laptop) {
    grid-column: 2 / 3;
  }
}
