header {

  text-align: center;

  h2 {
    font-size: 2em;
    margin: 0.75em 0;
  }

  p {
    font-size: 1em;
    margin: 0.5em 0;
  }

  @media (min-width: 768px) {
    grid-row: 1 / 2;
    grid-column: 1 / 2;
  }

  @media (min-width: 1024px) {
    grid-column: 2 / 3;
  }
}
