@import "../colors";
@import "../screen-sizes";

nav {
  height: 100%;
  width: 100%;
  position: fixed;
  z-index: 11;
  background: $primary-light-transparent;
  font-size: 2rem;

  ul {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    list-style: none;
    margin: 0;
    padding: 0;
  }

  li {
    display: block;
    text-align: center;
    padding: 1rem 0;
  }

  a {
    color: inherit;
    text-decoration: none;
  }

  a:hover {
    color: $accent;
  }

  @media (min-width: $tablet) {
    height: initial;
    position: static;
    background: inherit;
    grid-row: 2 / 3;
    grid-column: 1 / 2;
    font-size: 1rem;

    ul {
      justify-content: flex-start;
    }

    li {
      padding: 0.5rem 0;
    }
  }

  @media (min-width: $laptop) {
    grid-column: 2 / 3;
  }
}

.visible {
  display: block;
}

.invisible {
  display: none;

  @media (min-width: $tablet) {
    display: block;
  }
}
