nav {
  height: 100%;
  width: 100%;
  position: fixed;
  z-index: 11;
  background: rgba(248, 247, 255, 0.9);

  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    line-height: 3em;
  }

  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  li {
    display: block;
    text-align: center;
    padding: 0 3em;
  }

  a {
    display: block;
    opacity: 0.8;
  }

  @media (min-width: 768px) {
    height: initial;
    position: static;
    background: inherit;
    grid-row: 2 / 3;
    grid-column: 1 / 2;

    .container {
      justify-content: flex-start;
    }

    ul {
      margin: 0;
    }
  }

  @media (min-width: 1024px) {
    grid-column: 2 / 3;
  }
}

.visible {
  display: block;
}

.invisible {
  display: none;

  @media (min-width: 768px) {
    display: block;
  }
}
