@import "components/__components";
@import "pages/__pages";

body {
  font-family: Helvetica, Arial, sans-serif;
  background: #F8F7FF;
  color: #1E1E24;
  padding: 0;
  margin: 0;
}

.wrapper {
  min-height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr auto;
  grid-template-columns: 1fr;

  button {
    position: fixed;
    z-index: 22;
    top: 0;
    left: 0;
    color: inherit;
    background-color: inherit;
    border: none;
    border-radius: 0.25em;
    padding: 1em;
    text-decoration: underline;
    font-size: 1em;
  }

  @media (min-width: 768px) {
    grid-template-columns: 1fr 2fr;

    button {
      display: none;
    }
  }

  @media (min-width: 1024px) {
    grid-template-columns: auto 320px 704px auto;
  }
}

main {
  display: flex;
  text-align: center;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  padding: 0 2em;

  @media (min-width: 768px) {
    grid-row: 1 / 4;
    grid-column: 2 / 3;
    position: relative;
    border-left: 1px solid transparent;

    &:before {
      content: "";
      position: absolute;
      height: 100%;
      width: 1px;
      top: 0;
      left: -1px;
      z-index: -1;
      background: linear-gradient(
        to bottom,
        #f8f7ff,
        rgba(39, 39, 39, 0.2) 5%,
        rgba(39, 39, 39, 0.2) 95%,
        #f8f7ff
      );
    }
  }

  @media (min-width: 1024px) {
    grid-column: 3 / 4;
  }
}